body {
  background-image: url(pic/hatter.jpg);
  background-position: top;
  background-repeat: no-repeat;
  margin: 0px 0px 0px 0px;
  color: #ffffff;
  font-family: "erasdust";
  font-size: 24pt;
  font-weight: bold;
  line-height: 36pt;
}

div.tartalom {
	position: absolute;
	margin-top: -250px;
	margin-left: -480px;
	width: 960px;
	height: 500px;
	top: 50%;
	left: 50%;
	/*border: solid 1px aqua;*/
}

img.yit {
	position: absolute;
	left: 830px;
	top: 0px;
	border: none;
}
img.koszi {
	position: absolute;
	top: 10px;
	left: 590px;
}
img.click {
	position: absolute;
	top: 60px;
	left: 880px;
}
img.nyomd {
	position: absolute;
	bottom: -35px;
	left: 105px;
}

div#panel {
	position: absolute;
	top: 101px;
	left: 50%; /*-350px;*/
	margin-left: -350px;
	width: 700px;
	height: 300px;
	/*border: solid 1px aqua;*/
}
img.gomb {
	background-image: url(pic/gomb.png);
	width: 168px;
	height: 67px;
	border: none;
	position: absolute;
	margin-left: 50%;
	left: -84px;
	bottom: 15px;
}
img:hover.gomb {
	background-image: url(pic/gomb_hover.png);
}

img.forkme {
   position: fixed;
   top: 0px;
   left: 0px;
   border: none;
}

div.tarto {
   background-image: url('pic/tarto.png');
   width: 100%;
   height: 35px;
   position: fixed;
   bottom: 0px;
   -moz-box-shadow: 0px -3px 5px #010;
   -webkit-box-shadow: 0px -3px 5px #010;
   box-shadow: 0px -3px 5px #010;
}
img.szivacs_map1 {
   position: fixed;
   bottom: 0px;
   right: 50px;
   border: none;
   -moz-box-shadow: -3px -3px 10px #010;
   -webkit-box-shadow: -3px -3px 10px #010;
   box-shadow: -3px -3px 10px #010;
}
img.szivacs_map2 {
   position: fixed;
   bottom: 0px;
   right: 50px;
   border: none;
   -moz-box-shadow: 3px -3px 10px #010;
   -webkit-box-shadow: 3px -3px 10px #010;
   box-shadow: 3px -3px 10px #010;
}


.original-newtab {
  position: fixed;
  bottom: -5px;
  right: 75px;
  font-size: 0.75em;
  color: #ffffff;
  text-decoration: none;
}