body {
  background-image: url(../image/hatter.jpg);
  background-position: top;
  background-repeat: no-repeat;
  margin: 0px 0px 0px 0px;
  color: #ffffff;
  font-family: "erasdust";
  font-size: 24pt;
  font-weight: bold;
  line-height: 36pt;
}

div.tartalom {
  position: absolute;
  margin-top: 50%;
  margin-left: 50%;
  width: 960px;
  height: 500px;
  top: -250px;
  left: -480px;
  /*border: solid 1px aqua;*/
}

img.yit {
  position: absolute;
  left: 830px;
  top: 0px;
  border: none;
}
img.koszi {
  position: absolute;
  top: 10px;
  left: 590px;
}
img.click {
  position: absolute;
  top: 60px;
  left: 880px;
}
img.nyomd {
  position: absolute;
  bottom: -35px;
  left: 105px;
}

div#panel {
  position: absolute;
  top: 101px;
  left: -350px;
  margin-left: 50%;
  width: 700px;
  height: 300px;
  /*border: solid 1px aqua;*/
}
img.gomb {
  background-image: url(../image/gomb.png);
  width: 168px;
  height: 67px;
  border: none;
  position: absolute;
  margin-left: 50%;
  left: -84px;
  bottom: 15px;
}
img:hover.gomb {
  background-image: url(../image/gomb_hover.png);
}

div.tarto {
  background-image: url('../image/tarto.png');
  width: 100%;
  height: 35px;
  position: fixed;
  bottom: 0px;
  box-shadow: 0px -3px 5px #010;

}
img.szivacs1 {
   position: fixed;
   bottom: 0px;
   right: 50px;
   border: none;
   box-shadow: -3px -3px 10px #010;
}
.original-newtab {
   position: fixed;
   bottom: 0px;
   right: 50px;
   border: none;
   box-shadow: 3px -3px 10px #010;
}

.gplus_container {
  position: absolute;
  top: 20px;
  left: 20px;
}

/*.original-newtab {
  position: fixed;
  bottom: -1px;
  right: 50px;
  font-size: 0.75em;
  color: white;
  text-decoration: none;
}*/